.heading{
    color:#FFCB05;
    font-size: 40px;
}
.h1{
    margin-left: 20rem;
    margin-top: 8rem;
    color: white;
    font-size: 35px;
}
.h2{
    margin-left: 20rem;
    color: whitesmoke;
}
.h3{
    margin-left: 20rem;
    color: whitesmoke;
}
.para{
    margin-top: 3rem;
    margin-left: 20rem;
    font-size: 22px;
    font-weight:900;
}
.para1{
    margin-left: 20rem;
    font-weight: 900;
    font-size: 18px;
}
.link{
    margin-left: 20rem;
    color: #0f1490;
    font-size: 22px;
    font-weight: 900;
}
.link:hover{
    color: red;
}

@media only screen and (max-width: 699px){
    .heading{
        margin-left: 0rem;
        font-size: 25px;
    }
    .h1{
        margin-top: 4rem;
        font-size: 22px;
        margin-left: 4rem;
    }
    .h2,.h3{
        font-size: 13px;
        margin-left: 4rem;
    }
    .para{
        margin-left: 4rem;
        font-size: 15px;
    }
    .para1{
        margin-left: 4rem;
        font-size: 15px;
    }
    .link{
        margin-left: 4rem;
        font-size: 14px;
        position: absolute;
        width: 70%;
    }
}
