.underline{
    width: 75px;
height: 4px;
background-color: black;
/* margin-left: 5.5rem;
margin-top: -1.8rem; */
background-color: black;
margin-top: -1rem;
margin-left: 7rem;
}
.heading{
    color: #FFCB05;
    margin-top: 3rem;
    font-size: 40px;
}
.heading2{
    color: #FFCB05;
    margin-top: 4rem;
    font-size: 27px;
}
.para{
    color: white;
    margin-top: 2rem;
    font-size: 20px;
    width: 90%;
}
.para3{
    font-size: 20px;
}
.para1{
    font-size: 20px;
    font-weight: bold;
}
.heading3, .heading4, .heading5{
    color: #FFCB05;
}
.para4{
    font-size: 17px;
    font-weight: 700;
}

@media only screen and (max-width: 699px) {
    .heading{
        width: 100%;
        font-size: 25px;
    }
    .underline{
        margin-top: 1rem;
    }
    .para{
        font-size: 16px;
        width: 100%;
    }
    .heading2{
        font-size: 21px;
    }
    .para1{
        font-size: 17px;
    }
    .para3{
        font-size: 17px;
    }
    .para4{
        font-size: 14px;
    }
    .heading3,.heading4,.heading5{
        font-size: 21px;
    }
}